* {
    margin: 0;
    padding: 0;
}

.page-login {
    background: url(../../img/bgc.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 710px;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.picture {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: -1;

    .box-card {
        width: 710px;
        height: 550px;
        margin: 27px auto;

        .head {
            text-align: center;
        }

        .forgot {
            margin-top: 20px;

            .demo-ruleForm {
                margin-left: 50px;
                .el-form-item {
                    margin-top: 10px;

                    .el-input {
                        margin-top: 8px;
                        width: 300px;
                    }
                }
            }
        }

    }
}